html, body {
  font-family: 'Oswald', sans-serif;
}

h1,h2,h3 {
  letter-spacing: 1px;
}

.kipozicional, caption, #menu, footer, .footer, #tartalom.about > header, .button-container {
  display: none;
}

label+input {
  display: block;
}

fieldset {
  border: 1px dashed rgba(0,0,0,0.1);
}

textarea {
  resize: none;
  width: 97.75%;
  padding: 10px;
}
